*:focus {
  outline: none;
}

.flexbox {
  display:flex;
  width:100%;
}
.login-box {
  position: relative;
  margin: 5% auto;
  width: 300px;
  height: 430px;
  background: #FFF;
  border-radius: 2px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

.login-box-password {
  position: relative;
  margin: 5% auto;
  width: 300px;
  height: 280px;
  background: #FFF;
  border-radius: 2px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

.login-box-password-new {
  position: relative;
  margin: 5% auto;
  width: 300px;
  height: 450px;
  background: #FFF;
  border-radius: 2px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

.login-box-sign-in {
  position: relative;
  margin: 5% auto;
  width: 300px;
  height: 350px;
  background: #FFF;
  border-radius: 2px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}


.main {
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  padding: 40px;
  width: 300px;
  height: 400px;
}

input[type="text"],
input[type="password"] {
  display: block;
  box-sizing: border-box;
  margin-bottom: 20px;
  padding: 4px;
  width: 220px;
  height: 32px;
  border: none;
  border-bottom: 1px solid #AAA;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 15px;
  transition: 0.2s ease;
}

input[type="text"]:focus,
input[type="password"]:focus {
  border-bottom: 2px solid #17a2b8;
  color: #43aa8b;
  transition: 0.2s ease;
}

input[type="submit"] {
  margin-top: 28px;
  width: 120px;
  height: 32px;
  background: #17a2b8;
  border: none;
  border-radius: 2px;
  color: #FFF;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  transition: 0.1s ease;
  cursor: pointer;
}

input[type="submit"]:hover,
input[type="submit"]:focus {
  opacity: 0.8;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  transition: 0.1s ease;
}

input[type="submit"]:active {
  opacity: 1;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  transition: 0.1s ease;
}

.or {
  position: absolute;
  top: 180px;
  left: 280px;
  width: 40px;
  height: 40px;
  background: #DDD;
  border-radius: 50%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  line-height: 40px;
  text-align: center;
}

.hero-image
{
    background-image: url("images/48139.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 550px;
    position: relative;
    z-index: 1;
}

.hero-image::after 
{
    content: " ";
    -webkit-filter: blur(8px);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .3);
    z-index: -1;
  }

  .hero-image-secondary
{
    background-image: url("images/contact.webp");
    background-size: cover;
    background-position: center;
    display:flex;
    align-items:center;
    justify-content: center;
    background-attachment: fixed;
    height: 400px;
    position: relative;
    z-index: 1;
}

.hero-image-secondary::after 
{
    content: " ";
    -webkit-filter: blur(8px);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .3);
    z-index: -1;
  }

.card {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    height:100%;
    transition: all 0.2s ease-in-out;
    box-sizing: border-box;
    margin-top:10px;
    margin-bottom:auto;
    background-color:#FFF;
  }
  
.card:hover {
    box-shadow: 0 5px 5px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  }

.row {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-around;
  }

.arrow_box {
    position: relative;
    background: #88b7d5;
    border: 2px solid #c2e1f5;
  }
.arrow_box:after, .arrow_box:before {
    bottom: 100%;
    left: 50%;
    border: solid transparent;
    content: "";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }
  
.arrow_box:after {
    border-color: rgba(136, 183, 213, 0);
    border-bottom-color: #88b7d5;
    border-width: 30px;
    margin-left: -30px;
  }
.arrow_box:before {
    border-color: rgba(194, 225, 245, 0);
    border-bottom-color: #c2e1f5;
    border-width: 33px;
    margin-left: -33px;
  }

  .vl {
    border-left: 6px solid green;
    height: 500px;
  }

  .comments {
    display: flex;
  }

  .comment-line { 
  position: relative;
  background: #FFFFFF;
  border: #e95420 solid 1px;
  }

  .comment-line:before 
{
content: "";
position: absolute;
bottom:0px;
left: 50px;
width  : 0;
height : 0;
border-left   : 20px solid transparent;
border-right  : 20px solid transparent;
border-bottom : 15px solid #e95420;
}


.comment-line-answer { 
  position: relative;
  background: #FFFFFF;
  border: #5a5753 solid 1px;
  }

  .comment-line-answer:before 
{
content: "";
position: absolute;
bottom:0px;
left: 50px;
width  : 0;
height : 0;
border-left   : 20px solid transparent;
border-right  : 20px solid transparent;
border-bottom : 15px solid #5a5753;
}

.hero-image-event {
  background-image: url("images/48139.jpg");
  background-size: cover;
  background-position: center;
  display:flex;
  align-items:center;
  justify-content: center;
  height: 400px;
  position: relative;
  z-index: 1;
}

.hero-image-event::after 
{
    content: " ";
    -webkit-filter: blur(8px);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .4);
    z-index: -1;
  }